.border-top-bottom {
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    padding-top: 13px;
    padding-bottom: 13px;
    width: 220px;
    font-size: 1.2rem;
    color: #ffffff;
    font-weight: 300;
}

.list-container {
    color: #959595;
    font-weight: 300;
    font-size: 1.5vw;
    letter-spacing: 0.64px;
    padding: 20px 0px;
}

@media screen and (max-width: 640px) {
    .border-top-bottom {
        width: 190px;
        font-size: 4vw;
        color: #ffffff;
        font-weight: 300;
    }

    .list {
        padding-right: 90px;
    }

    .list:last-child {
        padding-right: 0px;
    }

    .list-container {
        font-size: 3.7vw;
    }
}
