.body-about {
  display: flex;
}

.about-container {
  width: 50%;
  height:100vh;
  overflow-y: auto;
}

.right-container-about {
  width: 50%;
  height: 100vh;
}

.about-scroll-section {
  padding: 53px;
  padding-right: 30px;
}

.right-inner-container-about {
  padding: 53px;
}

.about-picture-container {
  width: 100%;
}

.image-about{
  width: 100%;
}

.list-outer-container {
  display: flex;
  justify-content: flex-end;
  padding-top: 50px;
}

.bottom-space {
  padding-bottom: 50px;
}

.big-text {
  letter-spacing: 0.84px;
  font-size: 2.4rem;
  font-weight: 350;
  line-height: 57px;
}

.links-rows {
  width: 200px;
  padding-top: 13px;
  padding-bottom: 13px;
  border-top: 1px solid #707070;
  font-weight: 400;
}

.links-rows-last {
  padding-top: 13px;
  padding-bottom: 13px;
  border-top: 1px solid #707070;
  border-bottom: 1px solid #707070;
  font-weight: 400;
}

.link{
  cursor: pointer;
  text-decoration: none;
  color: white;
}
.link:hover{
  color: #959595
}

.show-in-mobile {
  display: none;
}

@media screen and (max-width: 600px) {
  .body-about{
    padding: 0px;
    display: block;
  }
  .about-container {
    width: 100%;
    height:auto;
    overflow-y: none;
  }
  .mobile-version {
    display: flex;
    justify-content: space-between;
  }
  .about-scroll-section {
    padding: 30px;
    padding-right: 30px;
  }
  
  .right-inner-container-about {
    padding: 40px;
    padding-top: 0;
  }

  .big-text {
    font-size: 1.6rem;
    line-height: 40px;
  }

  .list-container {
    font-size: 1.1rem;
  }

  .hide-on-mobile {
    display: none;
  }

  .right-container-about {
    width: 100%;
    height: auto;
  }

  .links-rows {
    width: 100%;
  }
  .list-inner-container{
    width: 100%;
  }

  .list-outer-container{
    padding-top: 0px;
  }

  .show-in-mobile {
    display:block;
  }

  .paddingMob{
    padding: 40px 0px;
  }
}
