.border-top-bottom {
  border-top: 1px solid #707070;
  border-bottom: 1px solid #707070;
  padding-top: 13px;
  padding-bottom: 13px;
  width: 220px;
  font-size: 1.2rem;
  color: #FFFFFF;
  font-weight: 300;
}

.list-container {
  color: #959595;
  font-weight: 300;
  font-size: 1.3rem;
  letter-spacing: 0.64px;
  padding: 20px 0px;
}