.body-home {
  padding: 53px;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.side-nav {
  display: flex;
  justify-content: flex-end;
  font-size: 1.8rem;
  padding-top: 4px;
  font-weight: 300;
}

.nav-container {
  height: 10vh;
  padding-bottom: 38px;
}

.nav-link {
  cursor: pointer;
  color:#EAEAEA
}

.nav-link:hover {
  color: #959595
}


.logo {
  font-size: 2.5rem;
  font-weight: 500;
}


.medium-text {
  color: #EAEAEA;
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 44px;
}

.large-text {
  color: #EAEAEA;
  font-weight: 300;
  font-size: 2rem;
  line-height: 44px;
}

.big-pad-right {
  padding-right: 120px;
}

.white {
  color: white !important;
}

.huge-text {
  font-size: 4.5rem;
  font-weight: 350;
  letter-spacing: 1px;
  line-height: 95px;
}

.slogan-box{
  max-width: 850px;
}

.width65 {
  width: 65%;
}

.maxW1030{
  max-width: 1030px;
}

/* .nav-container {
  display: flex;
  justify-content: space-between;
} */

@media screen and (max-width: 600px) {
  .huge-text {
    font-size: 3rem;
    letter-spacing: .5px;
    line-height: 71px;
    margin-top: 0;
  }
  .width65, .width90 {
    width:100%;
  }
  .body-home {
    padding: 50px 16px;
  }
  .medium-text {
    font-size: 1.5rem;
    line-height: 37px;
  }
  .pad-mob{
    padding-top: 7px;
  }
}