.picture-container {
    position: absolute;
    top: 0;
    right: 0;
    width: 43%;
    z-index: 1;
}

@media screen and (max-width: 600px) {
    .picture-container {
        position: relative;
        display: block;
        width: 100%;
    }
}
